.p-1 {
  padding: 20px 0px;
}

mat-form-field {
  width: 100%;
}

.image-container {
  width: 200px;
  height: 200px;
  background-color: aqua;
  border: 2px solid salmon;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-container > img {
  width: 200px;
}
