<div class="page-header">
  <div class="container">
    <h1 *ngIf="!isNeWStudent" class="">Öğrenci Görüntüle</h1>
    <h1 *ngIf="isNeWStudent" class="">Öğrenci Ekle</h1>
  </div>
</div>

<div class="container">
  <div class="row p-3">
    <div class="col-xs-12 offset-md-10">
      <a [routerLink]="['/students']" mat-raised-button>
        <mat-icon>chevron_left</mat-icon>
        Geri Dön
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <form #studentDetailsForm="ngForm">
        <div class="row">
          <div class="col-xs-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Ad</mat-label>
              <input
                matInput
                [(ngModel)]="student.firstName"
                name="student.firstName"
              />
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Soyad</mat-label>
              <input
                matInput
                [(ngModel)]="student.lastName"
                name="student.lastName"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field appearance="outline">
              <mat-label>Doğum Tarihi</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [(ngModel)]="student.dateOfBirth"
                name="student.dateOfBirth"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

        <div class="row p-1">
          <div class="col-xs-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>E-mail</mat-label>
              <input
                matInput
                [(ngModel)]="student.email"
                name="student.email"
              />
            </mat-form-field>
          </div>
          <div class="col-xs-6">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Telefon</mat-label>
              <input
                matInput
                [(ngModel)]="student.mobile"
                name="student.mobile"
              />
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Cinsiyet</mat-label>

              <mat-select
                [(ngModel)]="student.genderId"
                name="student.genderId"
              >
                <mat-option
                  *ngFor="let gender of genderList"
                  [value]="gender.id"
                >
                  {{ gender.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Adres</mat-label>
              <textarea
                matInput
                [(ngModel)]="student.address.physicalAddress"
                name="student.address.physicalAddress"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Posta Kodu</mat-label>
              <textarea
                matInput
                [(ngModel)]="student.address.postalAddress"
                name="student.postalAddress"
              ></textarea>
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!isNeWStudent" class="row">
          <div class="col-xs-6">
            <button (click)="updateStudent()" mat-raised-button color="primary">
              Kaydet
            </button>
          </div>
          <div class="col-xs-6 d-flex justify-content-end">
            <button (click)="deleteStudent()" mat-raised-button color="warn">
              Sil
            </button>
          </div>
        </div>
        <div *ngIf="isNeWStudent" class="row">
          <div class="col-xs-12">
            <button (click)="addStudent()" mat-raised-button color="primary">
              Ekle
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="row center-xs mt-1">
        <div class="image-container">
          <img [src]="displayProfileImageUrl">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 center-xs mt-1">
          <input hidden type="file" #imageUpload (change)="uploadImage($event)">
          <button (click)="imageUpload.click()" mat-raised-button color="primary">
            Resmi Düzenle
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
